---
import company from "../../config/company";
import Layout from "../layouts/Layout.astro";

const telefono = company.info.whatsapp;
// activar email desde vercel
const emailC = company.info.email; // base.for.insight@gmail.com
const email = "124ad11f77fb1a9411ab49d0844a2803"; // codigo enviado por FormSubmit
---

<Layout
  title="Contacto | Insight - Soluciones Digitales"
  description="Contáctanos en Insight para soluciones digitales personalizadas. Estamos aquí para responder tus preguntas y ayudarte a impulsar tu negocio en Argentina."
>
  <section class="bg-primary-darker w-full py-16">
    <div class="mx-auto max-w-screen-xl px-6 lg:px-8">
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-12 items-center">
        <!-- Formulario -->
        <div class="lg:col-span-3 bg-white p-8 rounded-2xl shadow-lg">
          <h2 class="text-2xl font-bold text-primary mb-6">
            Déjanos tu mensaje
          </h2>
          <form
            action="https://formsubmit.co/124ad11f77fb1a9411ab49d0844a2803"
            method="POST"
            class="space-y-4"
            aria-label="Formulario de contacto"
          >
            <input
              type="hidden"
              name="_next"
              value="https://www.insightdevs.com.ar/graciasportucontacto"
            />
            <input type="hidden" name="_captcha" value="false" />

            <div>
              <label
                for="nombre"
                class="block text-lg font-medium text-gray-700"
                id="nombre-label"
              >
                Nombre*
              </label>
              <input
                type="text"
                id="nombre"
                name="nombre"
                required
                class="mt-2 w-full bg-gray-100 rounded-lg border-gray-200 p-3"
                aria-labelledby="nombre-label"
              />
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
              <div>
                <label
                  for="email"
                  class="block text-lg font-medium text-gray-700"
                  id="email-label"
                >
                  Email*
                </label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  required
                  class="mt-2 w-full bg-gray-100 rounded-lg border-gray-200 p-3"
                  aria-labelledby="email-label"
                />
              </div>
              <div>
                <label
                  for="telefono"
                  class="block text-lg font-medium text-gray-700"
                  id="telefono-label"
                >
                  Teléfono*
                </label>
                <input
                  type="tel"
                  id="telefono"
                  name="telefono"
                  required
                  class="mt-2 w-full bg-gray-100 rounded-lg border-gray-200 p-3"
                  aria-labelledby="telefono-label"
                />
              </div>
            </div>

            <div>
              <label
                for="asunto"
                class="block text-lg font-medium text-gray-700"
                id="asunto-label"
              >
                Asunto*
              </label>
              <input
                type="text"
                id="asunto"
                name="asunto"
                required
                class="mt-2 w-full bg-gray-100 rounded-lg border-gray-200 p-3"
                aria-labelledby="asunto-label"
              />
            </div>

            <div>
              <label
                for="mensaje"
                class="block text-lg font-medium text-gray-700"
                id="mensaje-label"
              >
                Mensaje*
              </label>
              <textarea
                id="mensaje"
                name="mensaje"
                required
                rows="6"
                class="mt-2 w-full bg-gray-100 rounded-lg border-gray-200 p-3"
                aria-labelledby="mensaje-label"></textarea>
            </div>

            <div class="mt-4">
              <button
                type="submit"
                class="w-full sm:w-auto px-6 py-3 bg-black text-white font-semibold rounded-lg hover:bg-gray-800 transition"
                aria-live="polite"
              >
                Enviar Mensaje
              </button>
            </div>
          </form>
        </div>

        <!-- Información de contacto -->
        <div class="lg:col-span-2 text-white">
          <h1 class="text-4xl font-extrabold mb-6">
            Contáctanos 📩 | Soluciones Digitales en Argentina
          </h1>
          <p class="text-lg mb-6 leading-relaxed">
            ¿Tienes un proyecto en mente o alguna consulta? Escríbenos y te
            responderemos lo más pronto posible. <a
              href="/servicios"
              class="text-white hover:underline">Descubre nuestros servicios</a
            >.
          </p>
          <div class="mt-4">
            <p class="text-lg">📞 Teléfono / WhatsApp:</p>
            <p class="text-2xl font-semibold">{telefono}</p>
          </div>
          <div class="mt-4">
            <p class="text-lg">✉️ Email:</p>
            <p class="text-2xl font-semibold">{emailC}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
