---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import SliderCard from "@/ui/Slider/SliderCard";

export const prerender = true;

// Obtener servicios activos de la colección
const services = await getCollection("services", (entry) => entry.data.active);
const sortedServices = services.sort((a, b) => a.data.price - b.data.price);
const activeServices = sortedServices.map((service) => ({
  title: service.data.title,
  description: service.data.description,
  price: service.data.price,
  maintenance: service.data.maintenance,
  image: service.data.image,
  tags: service.data.tags,
  slug: service.slug,
}));

// Obtener samples de la colección
const samples = await getCollection("samples", (entry) => entry.data.active);
const sortedSamples = samples.sort((a, b) => a.data.order - b.data.order);
const sampleData = sortedSamples.map((sample) => ({
  title: sample.data.title,
  description: sample.data.description,
  users: sample.data.users,
  media: sample.data.media,
  deploy: sample.data.deploy,
  images: sample.data.images,
  slug: sample.slug,
}));
---

<Layout title="Insight | Soluciones digitales para emprendedores">
  <!-- Hero inicial -->
  <div
    class="w-full bg-gradient-to-r from-secondary via-primary to-secondary text-white text-center py-16 rounded-3xl flex items-center flex-col relative overflow-hidden"
  >
    <!-- Efecto Parallax -->
    <div
      class="absolute inset-0 bg-cover bg-center opacity-30"
      style="background-image: url('https://tjxmrdixvvjjeejbkfht.supabase.co/storage/v1/object/public/insightdev.public/Page/Fondo1.webp');"
    >
    </div>

    <div class="w-2/3 flex flex-col max-w-2xl mx-auto z-10">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 animate-fadeIn font-title">
        Bienvenido a Insight
      </h1>
      <p class="mb-6 text-lg font-subtitle">
        Descubre herramientas y soluciones digitales para emprendedores en
        Argentina. Impulsa tu negocio con nuestros servicios tecnológicos.
      </p>
      <div class="flex justify-center gap-4">
        <a
          href="/services"
          class="bg-white text-primary font-bold py-3 px-6 rounded shadow hover:shadow-lg transform hover:scale-105 transition-all will-change-transform"
          aria-label="Descubre nuestros servicios"
        >
          Descubre nuestros servicios
        </a>
      </div>
    </div>
  </div>

  <!-- Segunda Sección -->
  <section id="home" class="text-center py-16">
    <h2 class="text-4xl font-bold mb-6 font-title text-primary">
      Por qué elegir Insight
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <p class="text-lg px-4 font-subtitle">
        Somos un equipo de expertos en tecnología dedicados a crear soluciones
        digitales que impulsen tu negocio. Diseñamos herramientas efectivas y
        simples para potenciar tu crecimiento.
      </p>
      <img
        src="https://tjxmrdixvvjjeejbkfht.supabase.co/storage/v1/object/public/insightdev.public/Page/I%20design.webp"
        alt="Innovación en soluciones digitales"
        aria-label="Imagen de innovación en soluciones digitales"
        class="mx-auto rounded-lg shadow-custom transform hover:scale-105 transition-transform object-cover object-bottom h-80 w-full max-w-lg"
        loading="lazy"
      />
    </div>
  </section>

  <!-- Sección Servicios -->
  <section id="services" class="w-full bg-gray-100 py-16">
    <SliderCard
      client:load
      title="Nuestros Servicios"
      collection={activeServices}
      CardComponent="CardServices"
    />
  </section>

  <!-- Sección Samples -->
  <section id="samples" class="w-full bg-gray-200 py-16">
    <SliderCard
      client:load
      title="Casos de Éxito"
      collection={sampleData}
      CardComponent="CardSamples"
    />
  </section>
</Layout>
