---
const { href, name, icon: IconComponent, showLabel = false } = Astro.props;
---

<li>
  <a
    href={href}
    rel="noreferrer"
    target="_blank"
    class="text-primary transition hover:text-primary-lighter flex items-center space-x-2"
  >
    <IconComponent class="size-6" />
    {showLabel && <span>{name}</span>}
  </a>
</li>
